@tailwind base;
@tailwind components;
@tailwind utilities;

.flex{
    display: flex;
    flex-direction: column;
    height:100vh;
}

/*-----------------------------------------------*/

.button-ex{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.button-ex span{
    text-align: center;
    margin: 15px 0;
}